{% extends "base.html" %}

{% block title %}User Registration{% endblock %}

{% block head %}User Registration{% endblock %}

{% block adminlogin %}<li><a href="/adminlogin">Admin Login</a></li>{% endblock %}
{% block home %}<li><a href="/login">Login</a></li>{% endblock %}

{% block content %}
    <form method="post" action=".">{% csrf_token %}
        <table border="0">
            {{ form.as_table }}
        </table>
        <input type="submit" value="Register" />
    </form>

{% endblock %}